
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Chelsea+Market&family=Dancing+Script:wght@500&family=Freehand&family=Licorice&family=Moon+Dance&family=Qwitcher+Grypen:wght@700&display=swap');
@media screen and (max-width: 700px) and (orientation: portrait) {
  }


html {
    scroll-behavior: smooth;
}

li {
    list-style-type: none;
}
h1 {
    color: #DAA520;
    text-align: center;
    display:inline;
    vertical-align:middle;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size:xx-large;
    
}

/* *******************NAVBAR*********************** */
    nav {
    overflow: hidden;
    background-color: black;
    width: 100%;
}
    header nav {
    display: flex;
    flex-wrap: wrap ;
}







